<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="favicons/787-img-xfavicon.png.pagespeed.ic.xjuSQ5i6l5.png">


    <link rel="stylesheet"
        href="../static/css/css-A.style.css.pagespeed.cf._e2VPArvQd.css">
    <link rel="stylesheet" href="css/css-A.style.css.pagespeed.cf._e2VPArvQd.css">

</head> 

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->




    <div class="slider_area">
        <div style="height: 92vh !important" class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">Thousands of jobs
                                brought to you directly from the career pages
                            </h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find your Dream Job
                            </h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s" style="margin-left: 20px; color: black;">Enter brief
                                description about you and what you do to find out companies looking for similar
                                candidates</p>
                            <form id="recommend" action="/recommend" method="POST">
                                <div style="margin-bottom: 30px; margin-left: 30px;" class="cat_search">
                                    <textarea id="summary" name="summary"
                                        placeholder="I'm a full stack developer currently working with technologies like react, nodejs, javascript, bootstrap, expressjs etc."
                                        class="form-control" id="exampleFormControlTextarea3" rows="4"></textarea>
                                </div>

                                <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                    <button style="margin-left: 20px;" id="subb" onclick="append()" type="submit"
                                        class="boxed-btn3">Find matching jobs</button>
                                </div>
                            </form>
                            <script>
                                function append() {
                                    document.getElementById("subb").innerHTML =
                                        'Finding jobs for you... <img style="margin-left: 10px;">';
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s"
            data-wow-delay=".2s">
            <img src="images/banner-xillustration.png.pagespeed.ic.fcKBuyUIhb.png" alt="">
        </div>
    </div>





    <footer class="footer">
        <div style="height: 8vh !important" class="copy-right_text wow fadeInUp" data-wow-duration="1.4s"
            data-wow-delay=".3s">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div style="margin-top: 25px; margin-left: 10px;" class="col-xl-12">
                        <p class="copy_right text-center">

                            NoCopyright &copy;<script data-cfasync="false"
                                src="js/cloudflare-static-email-decode.min.js">
                            </script>
                            <script>
                                document.write(new Date().getFullYear());
                            </script> | Made by some kids at GTBIT</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="js/vendor-modernizr-3.5.0.min.js"></script>
    <script src="js/vendor-jquery-1.12.4.min.js"></script>
    <script src="js/1647-js-popper.min.js+bootstrap.min.js.pagespeed.jc.mLkWlDSjxY.js"></script>
    <script>
        eval(mod_pagespeed_Omu72zWnh9);
    </script>
    <script>
        eval(mod_pagespeed_oACAyWMTN0);
    </script>
    <script
        src="js/6437-js-owl.carousel.min.js+isotope.pkgd.min.js+ajax-form.js+waypoints.min.js+jquery.counterup.min.js.pagespeed.jc.4FXXOhgeIR.js">
    </script>
    <script>
        eval(mod_pagespeed_Y2u78ijQkb);
    </script>
    <script>
        eval(mod_pagespeed_jjBuSOmyTK);
    </script>
    <script>
        eval(mod_pagespeed_pxkNkKb$TU);
    </script>
    <script>
        eval(mod_pagespeed_KWG0ngQeSU);
    </script>
    <script>
        eval(mod_pagespeed_Unsm88A0e0);
    </script>
    <script
        src="js/7813-js-imagesloaded.pkgd.min.js+scrollIt.js+jquery.scrollUp.min.js+wow.min.js+nice-select.min.js+jquery.slicknav.min.js+jquery.magnific-popup.min.js+plugins.js.pagespeed.jc.Oz3YuEEyg4.js">
    </script>
    <script>
        eval(mod_pagespeed_9EvViQ8HO5);
    </script>
    <script>
        eval(mod_pagespeed_jtLG422ibD);
    </script>
    <script>
        eval(mod_pagespeed_W6w0tNt_E6);
    </script>
    <script>
        eval(mod_pagespeed_7BfLKMwNpM);
    </script>
    <script>
        eval(mod_pagespeed_7wA$zSFbu1);
    </script>
    <script>
        eval(mod_pagespeed_O$KYzO$ZqE);
    </script>
    <script>
        eval(mod_pagespeed_7WE4VahUcL);
    </script>
    <script>
        eval(mod_pagespeed_cBN5jZAyzL);
    </script>
    <script src="js/7128-js-gijgo.min.js"></script>

    <script
        src="js/4897-js-contact.js+jquery.ajaxchimp.min.js+jquery.form.js+jquery.validate.min.js+mail-script.js+main.js.pagespeed.jc._Ih1xJiJ_v.js">
    </script>
    <script>
        eval(mod_pagespeed_faDIr$mWEC);
    </script>
    <script>
        eval(mod_pagespeed_myGj$7Dv_i);
    </script>
    <script>
        eval(mod_pagespeed_up2DKPIYZG);
    </script>
    <script>
        eval(mod_pagespeed_BWLqWRxgVV);
    </script>
    <script>
        eval(mod_pagespeed_hPySKRtOfg);
    </script>
    <script>
        eval(mod_pagespeed_Pie2YIdajy);
    </script>

    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v64f9daad31f64f81be21cbef6184a5e31634941392597"
        integrity="sha512-gV/bogrUTVP2N3IzTDKzgP0Js1gg4fbwtYB6ftgLbKQu/V8yH2+lrKCfKHelh4SO3DPzKj4/glTO+tNJGDnb0A=="
        data-cf-beacon='{"rayId":"6bdf20708b7230e9","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>